@import "tailwindcss";

/* ===============================
   THEME VARIABLES
================================ */

:root {
  --background: #1b583c;
  --foreground: #e5e7eb;
}

/* ===============================
   GLOBAL BODY STYLES
================================ */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


input{}
/* ===============================
   REUSABLE FORM STYLES
   (Tailwind v4 way)
================================ */

@layer components {
  .input {
    @apply w-full rounded px-3 py-2 bg-gray-50 text-gray-800 border border-gray-700 focus:border-emerald-500 focus:outline-none;
  }

  .textarea {
    @apply w-full rounded px-3 py-2 bg-gray-50 text-gray-800 border border-gray-700 focus:border-emerald-500 focus:outline-none min-h-[90px];
  }
}

.mapbox-gl-draw {
  display: none !important;
}